---
import Layout from "../layouts/Layout.astro";
import WorkNav from "../components/WorkNav.astro";

const title = "Work";
---

<Layout>
  <div class="spacer"></div>
  <WorkNav />
  <section id="hero">
    <h1>GRAPHIC DEISTGN</h1>
  </section>
</Layout>

<style>
  .spacer {
    height: 8px;
  }

  /* HERO SECTION */
</style>
